<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/grade.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <main>
        <div class="title-div">
            <h1>مرحبا بك في مكتبة تسريع</h1>
        </div>
        <div class="login-buttons-div">
            <div class="button-div general-div">
                <h2>الصف</h2>
                <div class="option-button-div">
                    <button>خامس علمي</button>
                    <button>ثاني متوسط</button>
                </div>
                <h2>نوع الدراسة</h2>
                <div class="option-button-div">
                    <button>عربي</button>
                    <button>انكليزي</button>
                </div>
                <button class="login-proceed-button" onclick="window.location.href='/home'">موافق</button>
            </div>
        </div>
    </main>
</body>
</html>